.git
.DS_Store

vaultsync-app/build
vaultsync-app/.dart_tool
vaultsync-app/.flutter-plugins
vaultsync-app/.flutter-plugins-dependencies
vaultsync-app/android/.gradle
vaultsync-app/ios/Pods
vaultsync-app/macos/Pods

vaultsync-fe/node_modules
vaultsync-fe/dist
vaultsync-fe/**/node_modules
vaultsync-fe/**/*.tsbuildinfo

vaultsync-be/data
vaultsync-be/tmp

**/*.log
**/.env
**/config.yaml
